<!-- overlay effect for logging out-->
<!-- Modal -->
<div class="w3-modal" style="z-index:5" id="logout">
	<!--<div class="modal-dialog modal-sm">-->

	  <center>
		  <div class="w3-modal-content w3-round" style="width:130px;margin-top:100px;">

			<!--<div class="modal-body">-->
			  <center><i class="fa fa-spinner fa-pulse fa-5x fa-fw w3-text-teal w3-margin"></i></center>
			<!--</div>-->

		  </div>
	  </center>

	<!--</div>-->
</div>

<!-- Top container -->
<header class="w3-bar w3-card w3-top w3-white w3-large w3-padding-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-teal" ng-click="w3_open()"><i class="fa fa-bars"></i> Menu</button>
  <span class="w3-bar-item w3-right"><img class="w3-card" src="images/ds.jpg" width="80" height="70"></img></span>
</header>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-card w3-collapse" style="z-index:4;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">

    <div class="w3-col s4">
      <i ng-if="!user().isAdmin" class="fa fa-user" style="font-size:70px;color:teal;"></i>
	  <i ng-if="user().isAdmin" class="fa fa-user-md" style="font-size:70px;color:teal;"></i>
    </div>
    <div class="w3-col s8 w3-bar">
      <span>User:  <strong>{{user().$id}}</strong></span>
	  <br>
	  Last login: {{user().lastLogin}}
    </div>

  </div>

  <hr>

  <div class="w3-bar-block" ng-if="!user().isAdmin  && user().$id != undefined">
  	<a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" ng-click="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>

	<a href="#/home" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i> Home</a>
    <a href="#/simulator" class="w3-bar-item w3-button w3-padding"> <i class="fa fa-heartbeat fa-fw"></i> Simulator</a>
    <a href="#/exam" class="w3-bar-item w3-button w3-padding"> <i class="fa fa-graduation-cap fa-fw"></i> Exam</a><br><br>
    <a href="" class="w3-bar-item w3-button w3-padding" ng-click="logout()"> <i class="fa fa-power-off fa-fw"></i> Logoff</a>
  </div>

  <div class="w3-bar-block" ng-if="user().isAdmin  && user().$id != undefined">

  	<a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" ng-click="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>

  	<a href="#/users" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i> Users</a><br><br>
  	<a href="" class="w3-bar-item w3-button w3-padding" ng-click="logout()"> <i class="fa fa-power-off fa-fw"></i> Logoff</a>
  </div>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay" ng-class="{'w3-show w3-animate-opacity' : overlayBg}" ng-click="w3_close()" style="cursor:pointer"></div>
