<!-- Top container -->
<header class="w3-bar w3-card w3-top w3-white w3-large w3-padding-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-teal" onclick="w3_open();"><i class="fa fa-bars"></i> Menu</button>
  <span class="w3-bar-item w3-right"><img class="w3-card" src="images/ds.jpg" width="80" height="70"></img></span>
</header>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-card w3-collapse" style="z-index:4;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">

    <div class="w3-col s4">
      <i ng-if="!user.isAdmin" class="fa fa-user" style="font-size:70px;color:teal;"></i>
	  <i ng-if="user.isAdmin" class="fa fa-user-md" style="font-size:70px;color:teal;"></i>
    </div>
    <div class="w3-col s8 w3-bar">
      <span><strong>{{user.name}}</strong></span>
	  <br>
	  Last login: {{user.lastlogin}}
    </div>

  </div>

  <hr>

  <div class="w3-bar-block" ng-if="!user.isAdmin">
  	<a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>

	<a href="#/home" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i> Home</a>
    <a href="#/simulator" class="w3-bar-item w3-button w3-padding"> <i class="fa fa-heartbeat fa-fw"></i> Simulator</a>
    <a href="#/exam" class="w3-bar-item w3-button w3-padding"> <i class="fa fa-graduation-cap fa-fw"></i> Exam</a>
  	<a href="#/about" class="w3-bar-item w3-button w3-padding"> <i class="fa fa-comment fa-fw"></i> About</a><br><br>
    <a href="#/login" class="w3-bar-item w3-button w3-padding" ng-click="logout()"> <i class="fa fa-power-off fa-fw"></i> Logoff</a>
  </div>

  <div class="w3-bar-block" ng-if="user.isAdmin">

  	<a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>

  	<a href="#/students" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i> Students</a><br><br>
  	<a href="#/login" class="w3-bar-item w3-button w3-padding" ng-click="logout()"> <i class="fa fa-power-off fa-fw"></i> Logoff</a>
  </div>



</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
