<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<!-- !PAGE CONTENT! -->
<div class="rs-exam w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">

	<div class="w3-panel w3-teal">
		<h1><i class="fa fa-graduation-cap"></i>Exam</h1>
	</div>

	<div class="w3-margin">

		<!--w3-animate-right-->
	
		<ul class="w3-ul w3-hoverable w3-card" ng-show="showExamList">
			<li class="w3-hover-white w3-teal w3-padding-large" style="cursor:pointer" ng-repeat="exam in exams" ng-click="setExam(exam); setI($index); toggleExamList()">
				<div ng-hide="showOldExams">
					<i class="fa fa-pencil"></i> Exam {{ $index + 1}}<span class="w3-right">{{exam.attempts}} attempts</span>
				</div>
				<div ng-show="showOldExams" ng-class="{right: exam.passed, wrong: !exam.passed}">
					<i class=""></i>Exam {{exam.id}}<span class="w3-right">{{exam.submitted | date : "medium"}}</span>
				</div>
			</li>
		</ul>

		<div class="w3-bar w3-card w3-animate-right" ng-hide="showExamList" ng-repeat="exam in exams" >

			<div class="w3-margin" ng-show="$index == getI()" >

				<div class="w3-bar">
					<h2 class="w3-text-teal w3-left"> Exam {{i + 1}}</h2>
				</div>
				<br>

				<div class="w3-bar">
					<h3 class="w3-text w3-left"> Some title</h3>
				</div>

				<div class="w3-card-2" style="width:50%">
					<img ng-src={{exam.imageUrl}} style="width:100%">
					<div class="w3-container">
						<h4><b>{{exam.imageTitle}}</b></h4>
						<p>{{exam.imageText}}</p>
					</div>
				</div>
				<br>

				<form novalidate ng-submit="submit()" name="form">
					<div class="form-group" ng-repeat="question in exam.questions">
						{{question.text}}

						<div ng-repeat="(index, alternative) in question.alternatives">
							<label ng-if="question.type === 'radio'" ng-class="{right: question.rights[index], wrong: question.wrongs[index]}">
								<input type="radio" ng-value="index" ng-model="question.guess" ng-disabled="exam.submitted"/>
								{{alternative}}
							</label>

							<label ng-if="question.type === 'checkbox'" ng-class="{right: question.rights[index], wrong: question.wrongs[index]}">
								<input type="checkbox" ng-value="alternative" ng-model="question.guess[index]" ng-disabled="exam.submitted"/>
								{{alternative}}
							</label>
						</div>

						<!-- <pre>current question: {{question | json}}</pre> -->
					</div>
					<button type="button" class="w3-button w3-card w3-teal" ng-click="toggleExamList(); getExams(); back()"><i class="fa fa-arrow-left"></i> Back</button>
					<button type="submit" class="w3-button w3-card w3-teal" ng-disabled="exam.submitted"><i class="fa fa-check-square-o"></i> Submit</button>
				</form>

			</div>


		</div>


		<br>
		<div>
			<button class="w3-button w3-card w3-teal" ng-click="toggleOldExams(); getExams()" ng-show="showExamList && !showOldExams"><i class=""></i> See old exams</button>
			<button class="w3-button w3-card w3-teal" ng-click="toggleOldExams(); getExams()" ng-show="showExamList && showOldExams"><i class="fa fa-arrow-left"></i> Back</button>
			<div ng-show="isSubmitted" ng-class="{right: exam.passed, wrong: !exam.passed}">
				<h4 ng-show="exam.passed">You passed!</h4><h4 ng-hide="exam.passed">You failed!</h4>
			</div>
		</div>
		<br>
	</div>
</div>
<!-- End page content -->
