<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<style>
#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
</style>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">

	<div class="w3-panel w3-teal">
		<h1>Excercises</h1>
	</div> 

	<div class="w3-margin">
		<i class="fa fa-cogs w3-margin" style="font-size:70px;color:teal;"></i>
		<br>
		<!--
		<div class="w3-col s3 l2 w3-mobile">
			<div class="w3-margin" ng-repeat="x in [1,2,3,4,5]">
				<button type="button" class="w3-button w3-teal w3-card" ng-click="setExcercise(x)"><i class="fa fa-pencil"></i> Excercise {{ x }}</button>
			</div>
		</div>
		-->
		
		<ul class="w3-ul w3-hoverable w3-card-4 w3-teal w3-animate-right" ng-hide="show">
			<li class="w3-hover-white" ng-click="setExcercise(1); setShow(true)"><i class="fa fa-pencil"></i> Excercise 1<span class="w3-right">0 attempts</span></li>
			<li class="w3-hover-white" ng-click="setExcercise(2); setShow(true)"><i class="fa fa-pencil"></i> Drag and Drop<span class="w3-right">0 attempts</span></li>
		</ul>
		
		<div class="w3-bar w3-card w3-animate-right" ng-show="show">
		
			<div class="w3-margin">
				<div class="w3-bar">
					<h4 class="w3-text-teal w3-left"><i class="fa fa-pencil" style="font-size:20px;color:teal;"></i> Excercise {{excercise}}</h4>
					<h4 class="w3-text-teal w3-right">Attempts: 0</h4>
				</div>
				<br>
				
				
				<div ng-if="excercise == 1">
					<div class="w3-card-2" style="width:50%">
						<img src="/echo/images/chamber.gif" style="width:100%">
						<div class="w3-container">
							<h4><b>A image.</b></h4>
							<p>Nice looking image.</p>
						</div>
					</div>
					<br>

					<p class="question">1. Give your answer.</p>
					<ul class="answers">
						<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Answer 1</label><br/>
						<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Answer 2</label><br/>
						<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Answer 3</label><br/>
						<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Answer 4</label><br/>
					</ul>
					<br>

					<div class="w3-cell">
						<p class="question">2. Write your answer.</p>
						<input type="text" class="form-control">
					</div>
				</div>
				
				
				<div ng-if="excercise == 2">
					<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
						<img src="/echo/images/chamber.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
					</div>

					<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>
				
				<br>
				
				<div class="w3-bar">
					<button class="w3-button w3-card w3-teal" ng-click="show = false"><i class="fa fa-cog"></i> Submit</button>
					<span><button class="w3-button w3-card w3-teal" ng-click="show = false"><i class="fa fa-times"></i> Skip</button></span>
				</div>
			</div>		

		</div>
		<br>
	</div>	
<!-- End page content -->
</div>

<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>