<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">

	<div class="w3-panel w3-teal">
		<h1>Exercises</h1>
	</div>

	<div class="w3-margin">
		<i class="fa fa-cogs w3-margin" style="font-size:70px;color:teal;"></i>
		<br>

		<ul class="w3-ul w3-hoverable w3-card-4 w3-teal w3-animate-right" ng-show="show">
			<li class="w3-hover-white" ng-repeat="exercise in exercises" ng-click="setExercise(exercise); toggle()">
				<i class="fa fa-pencil"></i> Exercise {{ exercise.nr }}<span class="w3-right">0 attempts</span>
			</li>
		</ul>

		<div class="w3-bar w3-card w3-animate-right" ng-hide="show">

			<div class="w3-margin">
				<div class="w3-bar">
					<h4 class="w3-text-teal w3-left"><i class="fa fa-pencil" style="font-size:20px;color:teal;"></i> Excercise {{exercise.id}}</h4>
					<h4 class="w3-text-teal w3-right">Attempts: 0</h4>
				</div>
				<br>

				<div class="w3-card-2" style="width:50%">
					<img ng-src={{exercise.img}} style="width:100%">
					<div class="w3-container">
						<h4><b>A image.</b></h4>
						<p>Nice looking image.</p>
					</div>
				</div>
				<br>

				<p class="question">Give your answer.</p>

				<form novalidate ng-show="exercise.type != 'text'" ng-submit="submit()">
					 <label data-ng-repeat="alt in exercise.alt">
						 <input type={{exercise.type}} name={{exercise.id}} value={{alt}} ng-model="$parent.radioValue"/>{{alt}}
					 </label>
					 <div>currently selected: {{radioValue}}</div>
					 <button type="submit">Submit</button>
				</form>

				<form novalidate ng-show="exercise.type != 'text'" ng-submit="submit()">
				  <div class="form-group" ng-repeat="alt in exercise.alt track by $index">
				    <input type={{exercise.type}} name={{exercise.id}} value={{alt}}>{{alt}}<br>
				  </div>
						<button type="submit" class="w3-button w3-card w3-teal" ng-click="toggle()"><i class="fa fa-cog"></i> Submit</button>
						<button class="w3-button w3-card w3-teal" ng-click="toggle()"><i class="fa fa-times"></i> Skip</button>
				</form>

				<form name="userForm" novalidate ng-show="exercise.type == 'text'" ng-submit="submit()">
				    <input type={{exercise.type}} name={{exercise.id}} value={{alt}}>{{alt}}<br>
						<button type="submit" class="w3-button w3-card w3-teal" ng-click="toggle()"><i class="fa fa-cog"></i> Submit</button>
						<button class="w3-button w3-card w3-teal" ng-click="toggle()"><i class="fa fa-times"></i> Skip</button>
				</form>

				<form name="vm.myFormNgMsg" novalidate>
			    <div ng-repeat="alt in exercise.alt">
						<fieldset ng-disabled="true">
				      <input type={{exercise.type}} name="person_{{$index}}" ng-model="alt" required>
				      <span ng-messages="vm.myFormNgMsg['person_' + $index].$error">
				        <span ng-message="required">Enter a name</span>
				      </span>
						</fieldset>
			    </div>
			  </form>

			</div>

			<!-- TEST -->


		</div>
		<br>
		<button type="submit" class="w3-button w3-card w3-teal" ng-show="show" ng-click=""><i class="fa fa-cog"></i> Submit</button>
	</div>
<!-- End page content -->
</div>
