<div class="wrapper">

<form class="form-signin" action="#/questions">

	<table style="width:100%" class="form-signin-heading">
	  <tr>
		<th><img class="w3-card" src="/echo/images/ds.png" width="110" height="90"></th> 
		<th><h2>Login</h2></th>
	  </tr>
	</table>

	<input type="text" class="form-control" name="username" placeholder="Name" autofocus="" />
	<input type="password" class="form-control" name="password" placeholder="Password" required=""/>      

	<!--<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>-->
	<button class="w3-button w3-card w3-teal w3-block" type="submit"><i class="fa fa-cog"></i> Login</button>
</form>

</div>