<div class="wrapper">

<form name="myForm" class="form-signin" ng-submit="login()">

	<table style="width:100%" class="form-signin-heading">
	  <tr>
		<th><img class="w3-card" src="images/ds.png" width="110" height="90"></th>
		<th><h2>Login</h2></th>
	  </tr>
	</table>

	<input name="user" type="text" value="cristina" class="form-control" placeholder="name" ng-model="user"/>

	<!--<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>-->
	<button type="submit" class="w3-button w3-card w3-teal w3-block"><i class="fa fa-cog fa-lg" ng-class="{ 'fa-spin': loading }"></i> Login</button>
	<div ng-show="wrongUser"><center class="w3-text-red">Wrong username.</center></div>
</form>

</div>
