<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">


	<div class="w3-panel w3-teal">
		<h1>Questions</h1>
	</div> 

	<div class="w3-margin">	
		
		<div class="w3-cell-row w3-margin-bottom">
			<i class="fa fa-user-md w3-margin w3-cell" style="font-size:70px;color:teal;"></i>
			<h4 class="w3-cell w3-cell-middle">Welcome! Please answer this survey before you start.</h4>
		</div>
		

		<p class="question">1. Give your answer.</p>
		<ul class="answers">
			<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Answer 1</label><br/>
			<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Answer 2</label><br/>
			<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Answer 3</label><br/>
			<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Answer 4</label><br/>
		</ul>

		
		<br>
		
		<div class="w3-cell">
			<p class="question">2. Write your answer.</p>
			<input type="text" class="form-control">
		</div>
		<br>
	
	</div>

	<div class="w3-container w3-white w3-border-top">
		<div class ="w3-cell">
			<button class="w3-button w3-card w3-teal w3-margin" type="submit"><i class="fa fa-cog"></i> Submit</button>
		</div>
	</div>
<!-- End page content -->
</div>