<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">

	<div class="w3-panel w3-teal">
		<h1>Simulator</h1>
	</div> 

<div class="w3-margin">

<div class="w3-row">
	<i class="fa fa-heartbeat w3-margin w3-cell" style="font-size:70px;color:teal;"></i>	
</div>

<div class="w3-bar w3-card w3-teal">
	<div class="w3-bar">
		<button class="w3-bar-item w3-button" ng-click="showOverview = true; showSessions = false; showLog = false"><i class="fa fa-area-chart"></i> Overview</button>
		<button class="w3-bar-item w3-button" ng-click="showOverview = false; showSessions = true; showLog = false"><i class="fa fa-desktop"></i> Sessions</button>
		<button class="w3-bar-item w3-button" ng-click="showOverview = false; showSessions = false; showLog = true"><i class="fa fa-pencil-square-o"></i> Log Session</button>
	</div>
</div>	

<div class="w3-row w3-card w3-margin-bottom w3-animate-right" ng-show="showOverview">

	<h4 class="w3-text-teal"><i class="fa fa-area-chart w3-margin" style="font-size:20px;color:teal;"></i> Overview</h4>

	<div class="w3-half">
		<div class="w3-container w3-padding-16">
		  <canvas id="barChart"></canvas>
		</div>
    </div>
	
	<div class="w3-half">
		<div class="w3-container w3-padding-16">
		  <canvas id="lineChart"></canvas>
		</div>
    </div>
	
</div>

<div class="w3-bar w3-card w3-animate-right" ng-show="showSessions">
	<h4 class="w3-text-teal"><i class="fa fa-desktop w3-margin" style="font-size:20px;color:teal;"></i> Sessions</h4>
	
	<table class="w3-table w3-striped w3-centered">
		<tr>
			<th>Log date</th>
			<th>your angle</th>
			<th>correct angle</th>
		</tr>
		<tr ng-repeat="x in [1,2,3,4,5]">
			<td>{{ x }}</td>
			<td>{{ x }}</td>
			<td>{{ x }}</td>
			<!--<td>{{ x.Country }}</td>-->
		</tr>
	</table>
	
</div>

<div class="w3-row w3-card w3-margin-bottom w3-animate-right" ng-show="showLog">
	<h4 class="w3-text-teal"><i class="fa fa-pencil-square-o w3-margin" style="font-size:20px;color:teal;"></i> Log Session</h4>
	
	<form class="w3-container w3-margin">
		<p>
			<input class="w3-input" type="text" ng-model="angle">
			<label>Your Angle</label> 
		</p>
		
		<p>
			<input class="w3-input" type="text" ng-model="correct">
			<label>Correct Angle</label> 
		</p>
		
		<button class="w3-button w3-card w3-teal"><i class="fa fa-cog"></i> Log</button>
	</form>
</div>

<br><br>

</div>	
<!-- End page content -->
</div>