<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">

	<div class="w3-panel w3-teal">
		<h1>Students</h1>
	</div> 

	<div class="w3-margin">
		<i class="fa fa-user w3-margin" style="font-size:70px;color:teal;"></i>
		<br>
		
		<ul class="w3-ul w3-hoverable w3-card-4 w3-teal w3-animate-right" ng-hide="show">
			<li class="w3-hover-white" ng-repeat="x in [1,2,3,4,5]" ng-click="setStudent(x); setShow(true)"><i class="fa fa-user"></i> Student name {{ x }}<span class="w3-right">Last login: 2017-03-31</span></li>
		</ul>
		
		<div class="w3-bar w3-card w3-animate-right" ng-show="show">
			A student
		
			<button class="w3-button w3-card w3-teal" ng-click="show = false"><i class="fa fa-times"></i> Skip</button>
		</div>
		<br>
	</div>	
<!-- End page content -->
</div>