<ng-include src="'partials/dashboard.html'" ng-controller="dashboardCtrl"></ng-include>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-card w3-animate-right" style="margin-left:312px;margin-top:118px;">

	<div class="w3-panel w3-teal">
		<h1><i class="fa fa-user"></i> Users</h1>
	</div>

	<div class="w3-margin">
		<div ng-show="showAllUsers">

			<ul class="w3-ul w3-hoverable w3-card-4 w3-teal w3-animate-right">
				<li class="w3-hover-white" style="cursor:pointer" ng-repeat="user in allUsers" ng-click="setUser(user); toggleAllUsers(); toggleUser()">
					<i class="fa fa-user"></i>  {{user.$id}}<span class="w3-right"></span>
				</li>
			</ul>

			<br>
			<div>
				<button class="w3-button w3-card w3-teal" ng-click="toggleAllUsers()"><i class="fa fa-user-plus"></i> Add user</button>
			</div>

		</div>


		<div ng-hide="showAllUsers">

			<div ng-hide="showUser">
				<form name="addRemoveForm" ng-submit="submit()">
					<input name="newUser" type="text" class="form-control" placeholder="name" ng-model="newUser"/>
					<br>

					<button type="button" class="w3-button w3-card w3-teal" ng-click="toggleAllUsers(); userExists = false; userWasAdded = false"><i class="fa fa-arrow-left"></i> Back</button>
					<button class="w3-button w3-card w3-teal" ng-click=""><i class="fa fa-user-plus"></i> Add user</button>
          <div ng-show="userExists"><center class="w3-text-red">User already exists</center></div>
          <div ng-show="userWasAdded && !userExists"><center class="w3-text-green">User was sucessfully added</center></div>
				</form>
			</div>

			<div ng-show="showUser">
				<h3>Some info about: {{user.$id}} </h3>
				<br>
				<button type="button" class="w3-button w3-card w3-teal" ng-click="toggleAllUsers(); toggleUser()"><i class="fa fa-arrow-left"></i> Back</button>
				<button class="w3-button w3-card w3-teal" ng-click="toggleAllUsers(); toggleUser(); removeUser(user.$id)"><i class="fa fa-user-times"></i> Remove user</button>
			</div>

		</div>

		<br>
	</div>


<!-- End page content -->
</div>
